




<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "TODO", root_path, class: "navbar-brand mr-5" %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "Tasks", tasks_path, class: "nav-link color-link" %>
            </li>
            <li class="nav-item px-2 ">
              <%= link_to "Emails", root_path, class: "nav-link color-link" %>
          </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <% unless user_signed_in? %>
          <li class="nav-item px-2">
            <%= link_to "Log in", new_user_session_path, class: "nav-link color-link-light" %>
          </li>
          <li class="nav-item px-2">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link color-link-light" %>
          </li>
          <% else %>
          <li class="nav-item px-2">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link color-link-light" %>
          </li>
          <% end %>
        </ul>
        <img class="rounded-circle" height="50px" width="50px" src="http://digitalspyuk.cdnds.net/17/25/320x320/square-1498216547-avatar-neytiri.jpg">
    </div>
</nav>
